html{
  scroll-behavior: smooth;
}
body{
  color:hsl(0, 0%, 14%) !important;
}
.transition{
  transition: 1s;
}
.hero-body{
  background-image: url(./assets/img/DSC05986.JPG);
  background-size: cover;
  position: relative;
}
.hero-body div{
  position: relative;

}
.hero-body:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
}

#top-image-dummy{
	width:70%;
}
.title{
	margin-bottom: 2em;
}
#text-dummy{
  color:#000;
  line-height: 1;
}
#text-dummy p{
  font-size:0.9em;
  transition: 0.5s;
}
div.temp{
  height:200px;
}
.card{
  margin:20px auto;
  width:100vh;
}